<div class="post-form">
<%= form_for (@post) do |f| %>
  <p><%= f.text_area :content, placeholder: "what's happening?" %></p>
    <label for="post-file">
      <%= f.file_field :picture%>
    </label>
  <div class="post-button"><%= f.submit "投稿する" %></div>
<%end%>
</div>
