html {
  height: 1000px;
  width: 500px;
}


.header {
  height: 300px;
  width: 500px;
}

.headerLogo {
  font-size: 30px;
  font-style: italic;
  font-weight: 200;
  margin: 15px 30px;

}

.headerList {
  font-size: 15px;
  padding: 20px 20px;
  font-style: italic;
  font-weight: 200;
  display: inline-block;
}




.post  {
  text-align: center;
  font-size: 20px;
  padding-bottom: 15px;
}


.about-main h2{
 text-align: center;
 text-decoration: underline red;
 font-style: italic;
 font-size: 30px;

}

.about-main p {
  text-align: center;
  color: pink;
}

.contact_form {
  text-align: left;
}

.contact_form h3 {
  padding-bottom: 20px;
  font-style: italic;
  font-size: 15px;
}

.contact_form p {
  padding-bottom: 20px;
  font-style: italic;
  font-size: 15px;
}

.confirm h2 {
  font-size: 20px;
  font-style: normal;
}

.confirm  {
  font-style: normal;
  font-size: 15px;
}

.thanks {
  text-align: center;
  font-style: normal;
  font-size: 15px;
}

.thanks h2 {
  font-weight:bold;
}

.users-heding {
  font-style: italic;
  font-size: 18px;
  font-weight: bold;
  color: black;
  padding: 20px 20px;
}

.users {
  font-style: italic;
  padding: 10px 20px;
  display: table-cell;

}

.users li {
  text-align: left;
}

.users img {
  border-radius: 50%;
  float: left;
  display: inline-block;
  width: 100px;
  height: 100px;

}

.show-main img {
  border-radius: 50%;
  display: inline-block;
  width: 100px;
  height: 100px;
}

.post-form p {
  padding-bottom: 20px;
}
